Repository hoelzl/clm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install
# Or with uv: uv add pre-commit --dev && uv run pre-commit install

repos:
  # Ruff - Fast Python linter and formatter
  # Uses local ruff to match the version in the project's virtual environment
  - repo: local
    hooks:
      - id: ruff
        name: ruff (lint)
        entry: uv run ruff check --fix
        language: system
        types: [python]
        # Only check src/ and tests/, not test-data/ or other directories
        files: ^(src|tests)/
      - id: ruff-format
        name: ruff (format)
        entry: uv run ruff format
        language: system
        types: [python]
        files: ^(src|tests)/

  # Mypy - Static type checker
  # Uses local mypy via system to respect pyproject.toml settings
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        # Only check src/clx, not tests (matches existing behavior)
        files: ^src/clx/
        # Don't pass filenames - check entire src/clx directory
        pass_filenames: false
        args: [src/clx]

Add subprocess crash retry logic for DrawIO
  CLAUDE.md
  docs/developer-guide/architecture.md
  src/clx/infrastructure/services/subprocess_tools.py
  src/clx/workers/drawio/drawio_converter.py
  tests/infrastructure/services/test_subprocess_tools.py
  tests/workers/drawio/test_drawio_converter.py
Due: ruff, ruff-format, mypy

Fix configuration error caching and PlantUML JAR path
  src/clx/infrastructure/backends/sqlite_backend.py
  src/clx/workers/plantuml/plantuml_converter.py
Due: ruff, ruff-format, mypy

Bump version: 0.6.0 → 0.6.1
  .bumpversion.cfg
  CLAUDE.md
  README.md
  docker/BUILDING.md
  docs/developer-guide/architecture.md
  pyproject.toml
  src/clx/__version__.py
  src/clx/cli/commands/docker.py
  src/clx/web/app.py
  tests/web/test_api_unit.py
  tests/web/test_app.py
  tests/workers/notebook/test_notebook_error_context.py
  uv.lock
Due: ruff, ruff-format, mypy

Add course outline export command
  src/clx/cli/commands/outline.py
  src/clx/cli/main.py
Due: ruff, ruff-format, mypy

Fix code formatting in outline.py
  src/clx/cli/commands/outline.py
Due: ruff, ruff-format, mypy

Add LFS pull step to CI and tests for outline command
  .github/workflows/ci.yml
  tests/cli/test_outline.py
Due: ruff, ruff-format

Add ruff configuration service for Pycharm
  .idea/ruff.xml
Due: none

Upgrade to .NET 10 SDK for dotnet-interactive compatibility
  docker/notebook/Dockerfile
Due: none

Fix outline command to preserve punctuation and add blank line after section headings
  src/clx/cli/commands/outline.py
  src/clx/core/utils/notebook_utils.py
  tests/cli/test_outline.py
  tests/core/course_test.py
  tests/core/utils/notebook_utils_test.py
  tests/test-data/course-specs/test-spec-1.xml
  tests/test-data/slides/module_000_test_1/topic_120_punctuation_test/slides_punctuation_test.py
Due: ruff, ruff-format, mypy

Bump version 0.6.1 → 0.6.2
  .bumpversion.cfg
  CLAUDE.md
  README.md
  docker/BUILDING.md
  docs/developer-guide/architecture.md
  pyproject.toml
  src/clx/__version__.py
  src/clx/cli/commands/docker.py
  src/clx/web/app.py
  tests/web/test_api_unit.py
  tests/web/test_app.py
  tests/workers/notebook/test_notebook_error_context.py
  uv.lock
Due: ruff, ruff-format, mypy

Add --incremental build option for partial rebuilds
  src/clx/cli/commands/build.py
  src/clx/infrastructure/backends/sqlite_backend.py
Due: ruff, ruff-format, mypy

Add tests for incremental build mode
  tests/infrastructure/backends/test_sqlite_backend.py
Due: ruff, ruff-format

Add clx git command group for repository management
  docs/user-guide/spec-file-reference.md
  src/clx/cli/commands/git_ops.py
  src/clx/cli/main.py
  src/clx/core/course_spec.py
  tests/cli/test_git_ops.py
  tests/core/course_spec_test.py
  tests/core/test_multi_target_course.py
  tests/core/test_output_target_spec.py
Due: ruff, ruff-format, mypy

Fix clx git command output directory resolution
  src/clx/cli/commands/build.py
  src/clx/cli/commands/git_ops.py
  src/clx/cli/commands/outline.py
  src/clx/core/course_paths.py
  tests/cli/test_git_ops.py
  tests/core/test_course_paths.py
Due: ruff, ruff-format, mypy

Enhance clx git commands with dry-run, path fixes, and status improvements
  src/clx/cli/commands/git_ops.py
  tests/cli/test_git_ops.py
Due: ruff, ruff-format, mypy

Update BUILDING.md to reflect .NET SDK 10.0
  docker/BUILDING.md
Due: none

Fix CI git identity configuration for test_git_ops tests
  .github/workflows/ci.yml
  tests/cli/test_git_ops.py
Due: ruff, ruff-format

Rename ClxConfig to ClmConfig and CLXMonitorApp to CLMMonitorApp
  src/clm/cli/commands/monitoring.py
  src/clm/cli/monitor/app.py
  src/clm/infrastructure/config.py
  src/clm/infrastructure/workers/config_loader.py
  tests/infrastructure/test_config.py
Due: ruff, ruff-format

Replace CLX_ environment variable prefix with CLM_
  .github/workflows/ci.yml
  src/clm/cli/status/collector.py
  src/clm/infrastructure/api/client.py
  src/clm/infrastructure/api/models.py
  src/clm/infrastructure/config.py
  src/clm/infrastructure/operation.py
  src/clm/infrastructure/workers/pool_manager.py
  src/clm/infrastructure/workers/progress_tracker.py
  src/clm/infrastructure/workers/worker_base.py
  src/clm/infrastructure/workers/worker_executor.py
  src/clm/workers/drawio/drawio_worker.py
  src/clm/workers/notebook/notebook_worker.py
  src/clm/workers/plantuml/plantuml_worker.py
  tests/conftest.py
  tests/e2e/test_e2e_course_conversion.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/test_config.py
  tests/infrastructure/workers/test_pool_manager.py
  tests/infrastructure/workers/test_progress_tracker_extended.py
  tests/infrastructure/workers/test_worker_base.py
  tests/infrastructure/workers/test_worker_executor.py
  tests/workers/notebook/test_notebook_worker.py
Due: ruff, ruff-format

Rename database files, config dirs, log paths, and logger names
  src/clm/cli/commands/monitoring.py
  src/clm/cli/commands/status.py
  src/clm/cli/commands/workers.py
  src/clm/cli/main.py
  src/clm/cli/status/collector.py
  src/clm/infrastructure/backends/sqlite_backend.py
  src/clm/infrastructure/config.py
  src/clm/infrastructure/database/executed_notebook_cache.py
  src/clm/infrastructure/logging/log_paths.py
  src/clm/infrastructure/workers/pool_manager.py
  src/clm/web/api/routes.py
  src/clm/web/models.py
  src/clm/workers/notebook/notebook_server.py.legacy
  src/clm/workers/notebook/notebook_worker.py
  tests/cli/conftest.py
  tests/cli/test_cli_unit.py
  tests/cli/test_status_collector.py
  tests/conftest.py
  tests/infrastructure/test_config.py
  tests/web/api/test_routes.py
  tests/web/test_api_integration.py
  tests/web/test_api_unit.py
Due: ruff, ruff-format

Rename Docker image names from clx to clm
  .github/workflows/ci.yml
  docker/drawio/Dockerfile
  docker/drawio/entrypoint.sh
  docker/notebook/Dockerfile
  docker/plantuml/Dockerfile
  src/clm/cli/commands/docker.py
  src/clm/infrastructure/config.py
  src/clm/infrastructure/workers/config_loader.py
  src/clm/infrastructure/workers/pool_manager.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/test_config.py
  tests/infrastructure/workers/test_docker_job_execution.py
  tests/infrastructure/workers/test_lifecycle_integration.py
  tests/infrastructure/workers/test_pool_manager.py
  tests/web/test_api_unit.py
  tests/workers/notebook/test_notebook_error_context.py
Due: ruff, ruff-format

Update build config, .gitignore, .dockerignore, and utility scripts
  .bumpversion.cfg
  .dockerignore
  .gitignore
  cleanup_workers.py
  diagnose_workers.py
Due: none

Rename remaining test function names from clx to clm
  tests/cli/test_cli_subprocess.py
  tests/infrastructure/test_config.py
Due: ruff, ruff-format

Remove the experimental label
  README.md
  uv.lock
Due: none

Rename PyPI package to coding-academy-lecture-manager
  README.md
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

Add ZIP archiving, SVG output format, and image inlining features
  src/clm/cli/commands/build.py
  src/clm/cli/commands/zip_ops.py
  src/clm/cli/main.py
  src/clm/core/course.py
  src/clm/core/course_files/drawio_file.py
  src/clm/core/course_files/image_file.py
  src/clm/core/course_files/plantuml_file.py
  src/clm/core/course_spec.py
  src/clm/core/operations/process_notebook.py
  src/clm/infrastructure/messaging/notebook_classes.py
  src/clm/workers/notebook/notebook_processor.py
  src/clm/workers/notebook/utils/jupyter_utils.py
  src/clm/workers/plantuml/plantuml_converter.py
  src/clm/workers/plantuml/plantuml_worker.py
  tests/cli/test_zip_ops.py
Due: ruff, ruff-format

Fix outdated documentation across user and developer guides
  CONTRIBUTING.md
  README.md
  docs/developer-guide/README.md
  docs/developer-guide/architecture.md
  docs/developer-guide/building.md
  docs/developer-guide/worker-lifecycle-management.md
  docs/user-guide/README.md
  docs/user-guide/installation.md
  docs/user-guide/quick-start.md
  docs/user-guide/troubleshooting.md
  src/clm/cli/commands/monitoring.py
Due: ruff, ruff-format

Fix progress bar lag during build and expand ML dependencies
  .claude/settings.json
  CLAUDE.md
  pyproject.toml
  src/clm/core/course.py
  src/clm/infrastructure/backend.py
  src/clm/infrastructure/backends/dummy_backend.py
  src/clm/infrastructure/backends/sqlite_backend.py
  tests/conftest.py
  tests/core/course_test.py
  tests/infrastructure/backends/local_ops_backend_test.py
  tests/infrastructure/backends/test_local_ops_backend_extended.py
  uv.lock
Due: ruff, ruff-format

Update pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

Fix ruff formatting in backend method signatures
  src/clm/infrastructure/backend.py
  src/clm/infrastructure/backends/sqlite_backend.py
Due: ruff, ruff-format

Add text-cleaning libraries
  docker/notebook/Dockerfile
  pyproject.toml
  uv.lock
Due: none

Fix version number in web app and docker build
  docker/BUILDING.md
  src/clm/cli/commands/docker.py
  src/clm/web/app.py
  tests/web/test_app.py
Due: ruff, ruff-format

Bump version 1.0.0 → 1.0.1, update dependencies
  .bumpversion.cfg
  CLAUDE.md
  README.md
  docker/BUILDING.md
  docs/developer-guide/architecture.md
  pyproject.toml
  src/clm/__version__.py
  src/clm/cli/commands/docker.py
  src/clm/web/app.py
  tests/web/test_api_unit.py
  tests/web/test_app.py
  tests/workers/notebook/test_notebook_error_context.py
  uv.lock
Due: ruff, ruff-format

Fix monitor TUI: empty header, event ordering, and scroll reset
  src/clm/cli/monitor/app.py
  src/clm/cli/monitor/widgets/activity_panel.py
Due: ruff, ruff-format

Update uv.lock
  .claude/settings.json
  uv.lock
Due: none

Add 'clm jobs' CLI commands for listing and cancelling jobs
  src/clm/cli/commands/jobs.py
  src/clm/cli/main.py
  src/clm/infrastructure/database/job_queue.py
  tests/cli/test_jobs_commands.py
  tests/infrastructure/database/test_job_queue.py
Due: ruff, ruff-format
