Repository hoelzl/clm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install
# Or with uv: uv add pre-commit --dev && uv run pre-commit install

repos:
  # Ruff - Fast Python linter and formatter
  # Uses local ruff to match the version in the project's virtual environment
  - repo: local
    hooks:
      - id: ruff
        name: ruff (lint)
        entry: uv run ruff check --fix
        language: system
        types: [python]
        # Only check src/ and tests/, not test-data/ or other directories
        files: ^(src|tests)/
      - id: ruff-format
        name: ruff (format)
        entry: uv run ruff format
        language: system
        types: [python]
        files: ^(src|tests)/

  # Mypy - Static type checker
  # Uses local mypy via system to respect pyproject.toml settings
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        # Only check src/clx, not tests (matches existing behavior)
        files: ^src/clx/
        # Don't pass filenames - check entire src/clx directory
        pass_filenames: false
        args: [src/clx]

Make lite notebook image the default instead of full
  src/clx/cli/commands/build.py
  src/clx/cli/commands/docker.py
  src/clx/infrastructure/config.py
Due: ruff, ruff-format, mypy

Improve C++ notebook error messages with cell and compiler details
  src/clx/cli/error_categorizer.py
  src/clx/workers/notebook/notebook_processor.py
  test-data/slides/module_070_failing_cpp/topic_100_failing_cpp/slides_failing_cpp.cpp
  tests/cli/test_build_output.py
Due: ruff, ruff-format, mypy

Fix code snippet extraction to not include Python traceback
  src/clx/cli/error_categorizer.py
  tests/cli/test_build_output.py
Due: ruff, ruff-format, mypy

Add multi-strategy cell detection for notebook errors
  src/clx/workers/notebook/notebook_processor.py
Due: ruff, ruff-format, mypy

Fix: Catch all exception types from notebook execution
  src/clx/workers/notebook/notebook_processor.py
Due: ruff, ruff-format, mypy

Add CellContext tracking and fix error extraction patterns
  src/clx/cli/error_categorizer.py
  src/clx/workers/notebook/notebook_processor.py
  tests/workers/notebook/test_notebook_error_context.py
Due: ruff, ruff-format, mypy

Add documentation for notebook error context tracking feature
  docs/claude/TODO.md
  docs/claude/design/notebook-error-context-tracking.md
Due: none

Add TrackingExecutePreprocessor for execution-time cell tracking
  docs/claude/design/notebook-error-context-tracking.md
  src/clx/workers/notebook/notebook_processor.py
  tests/workers/notebook/test_notebook_error_context.py
  tests/workers/notebook/test_notebook_processor.py
Due: ruff, ruff-format, mypy

Fix error categorization for DrawIO/PlantUML and add Docker tests
  src/clx/cli/error_categorizer.py
  tests/cli/test_error_categorizer.py
  tests/infrastructure/workers/test_docker_job_execution.py
Due: ruff, ruff-format, mypy

Add Docker integration test for C++ error context tracking
  tests/workers/notebook/test_notebook_error_context.py
Due: ruff, ruff-format

Update documentation for Phase 3 completion
  docs/claude/design/notebook-error-context-tracking.md
Due: none

Increase CI test timeouts for reliability
  .github/workflows/ci.yml
Due: none

Improve Docker mode error messages and categorization
  src/clx/cli/error_categorizer.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
  tests/cli/test_error_categorizer.py
Due: ruff, ruff-format, mypy

Add diagnostic logging for Docker mode debugging
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_executor.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
Due: ruff, ruff-format, mypy

Fix Docker network connectivity issue on Windows/WSL2
  src/clx/infrastructure/config.py
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_executor.py
  tests/infrastructure/workers/test_pool_manager.py
  tests/infrastructure/workers/test_worker_executor.py
Due: ruff, ruff-format, mypy

Add session permissions to project settings
  .claude/settings.json
Due: none

Add include-root-files attribute to dir-group tag
  src/clx/core/course_spec.py
  src/clx/core/dir_group.py
  src/clx/core/operations/copy_dir_group.py
  src/clx/infrastructure/backends/local_ops_backend.py
  src/clx/infrastructure/utils/copy_dir_group_data.py
  tests/core/course_spec_test.py
  tests/infrastructure/backends/test_local_ops_backend_extended.py
Due: ruff, ruff-format, mypy

Document include-root-files attribute in spec file reference
  docs/user-guide/spec-file-reference.md
Due: none

Add recursive attribute to dir-group for selective file copying
  docs/user-guide/spec-file-reference.md
  src/clx/core/course_spec.py
  src/clx/core/dir_group.py
  src/clx/core/operations/copy_dir_group.py
  src/clx/infrastructure/backends/local_ops_backend.py
  src/clx/infrastructure/utils/copy_dir_group_data.py
  tests/core/course_spec_test.py
  tests/infrastructure/backends/test_local_ops_backend_extended.py
Due: ruff, ruff-format, mypy

Update C++ kernelspec to C++20
  src/clx/workers/notebook/utils/prog_lang_utils.py
Due: ruff, ruff-format, mypy

Set foreground color for notes cells
  src/clx/workers/notebook/notebook_processor.py
Due: ruff, ruff-format, mypy

Use ruff as default formatter for VS Code
  .vscode/settings.json
Due: none

Bump version 0.5.1 → 0.6.0
  .bumpversion.cfg
  CLAUDE.md
  README.md
  docker/BUILDING.md
  docs/developer-guide/architecture.md
  pyproject.toml
  src/clx/__version__.py
  src/clx/web/app.py
  tests/web/test_api_unit.py
  tests/web/test_app.py
  uv.lock
Due: ruff, ruff-format, mypy

Fix bumpversion config and missed files
  .bumpversion.cfg
  src/clx/cli/commands/docker.py
  tests/workers/notebook/test_notebook_error_context.py
Due: ruff, ruff-format, mypy

Fix Docker worker failures by pre-creating output directories
  src/clx/cli/commands/build.py
  src/clx/core/course.py
Due: ruff, ruff-format, mypy

Add missing permissions to project settings
  .claude/settings.json
Due: none

Improve progress reporting for build command
  src/clx/cli/build_data_classes.py
  src/clx/cli/build_reporter.py
  src/clx/cli/commands/build.py
  src/clx/cli/output_formatter.py
  src/clx/infrastructure/backends/sqlite_backend.py
Due: ruff, ruff-format, mypy

Fix test assertions to match actual output formats
  tests/workers/notebook/test_notebook_processor.py
  tests/workers/notebook/utils/test_prog_lang_utils.py
Due: ruff, ruff-format

Fix IndexError in progress bar when updating after stage transitions
  src/clx/cli/output_formatter.py
  tests/cli/test_build_output.py
Due: ruff, ruff-format, mypy

Add ci-failure-analyst agent configuration
  .claude/agents/ci-failure-analyst.md
Due: none

Implement worker pre-registration to eliminate startup delays
  .claude/agents/performance-engineer.md
  docs/claude/performance-worker-preregistration.md
  docs/developer-guide/worker-lifecycle-management.md
  src/clx/infrastructure/api/client.py
  src/clx/infrastructure/api/models.py
  src/clx/infrastructure/api/worker_routes.py
  src/clx/infrastructure/database/schema.py
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_base.py
  src/clx/infrastructure/workers/worker_executor.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/notebook/notebook_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
  tests/infrastructure/workers/test_pool_manager.py
Due: ruff, ruff-format, mypy

Update architecture.md for worker pre-registration
  docs/developer-guide/architecture.md
Due: none

Keep worker startup async, update Docker test to poll for health
  src/clx/infrastructure/workers/pool_manager.py
  tests/infrastructure/workers/test_lifecycle_integration.py
Due: ruff, ruff-format, mypy

Fix worker reuse by updating container_id after worker starts
  src/clx/infrastructure/workers/pool_manager.py
Due: ruff, ruff-format, mypy

Fix Docker e2e test to poll for worker activation
  tests/e2e/test_e2e_lifecycle.py
Due: ruff, ruff-format

Add comprehensive tests for worker pre-registration feature
  tests/infrastructure/api/__init__.py
  tests/infrastructure/api/test_worker_routes.py
  tests/infrastructure/workers/test_pool_manager.py
  tests/infrastructure/workers/test_worker_base.py
Due: ruff, ruff-format

Add git stash permission to project settings
  .claude/settings.json
Due: none

Fix Docker e2e test to wait for actually activated workers
  tests/e2e/test_e2e_lifecycle.py
Due: ruff, ruff-format

Fix SqliteBackend to wait for pre-registered workers to activate
  src/clx/infrastructure/backends/sqlite_backend.py
Due: ruff, ruff-format, mypy

Update docs and settings for wait-for-activation feature
  .claude/settings.json
  docs/claude/performance-worker-preregistration.md
  docs/developer-guide/worker-lifecycle-management.md
Due: none
