Repository hoelzl/clm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff (lint)
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: uv run ruff format
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - src/clx

Add Docker multi-variant builds and fix Windows compatibility
  build-services.sh
  docker-compose.yaml
  docker/BUILDING.md
  docker/notebook/Dockerfile
  docs/claude/TODO.md
  docs/claude/docker-investigation.md
  src/clx/infrastructure/workers/worker_executor.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/workers/test_lifecycle_integration.py
Due: ruff, ruff-format, mypy

Add REST API for Docker worker communication
  .github/workflows/ci.yml
  docs/claude/rest-worker-api-design.md
  src/clx/infrastructure/api/__init__.py
  src/clx/infrastructure/api/client.py
  src/clx/infrastructure/api/job_queue_adapter.py
  src/clx/infrastructure/api/models.py
  src/clx/infrastructure/api/server.py
  src/clx/infrastructure/api/worker_routes.py
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_base.py
  src/clx/infrastructure/workers/worker_executor.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/notebook/notebook_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
  tests/e2e/test_e2e_course_conversion.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/workers/test_lifecycle_integration.py
  tests/infrastructure/workers/test_pool_manager.py
  tests/infrastructure/workers/test_worker_executor.py
Due: ruff, ruff-format, mypy

Add cache endpoint to REST API for Docker workers
  src/clx/infrastructure/api/client.py
  src/clx/infrastructure/api/job_queue_adapter.py
  src/clx/infrastructure/api/models.py
  src/clx/infrastructure/api/worker_routes.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/notebook/notebook_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
Due: ruff, ruff-format, mypy

Fix host.docker.internal for Linux Docker
  src/clx/infrastructure/workers/worker_executor.py
Due: ruff, ruff-format, mypy

Add httpx as core dependency for Docker worker REST API communication
  docker/notebook/Dockerfile
  pyproject.toml
Due: none

Fix Docker E2E tests to only use locally-built notebook image
  tests/e2e/test_e2e_lifecycle.py
  uv.lock
Due: ruff, ruff-format

Remove ML dependencies from CI to speed up installation
  .github/workflows/ci.yml
Due: none

Add container log capture for Docker worker debugging
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_executor.py
Due: ruff, ruff-format, mypy

Fix uvicorn import error in Docker workers
  src/clx/infrastructure/workers/__init__.py
Due: ruff, ruff-format, mypy

Fix API package import to not require uvicorn/fastapi
  src/clx/infrastructure/api/__init__.py
Due: ruff, ruff-format, mypy

Use notebook-only course fixture for Docker E2E tests
  tests/e2e/test_e2e_lifecycle.py
Due: ruff, ruff-format

Fix --ignore-db to still write results to cache
  src/clx/cli/main.py
  src/clx/infrastructure/backends/sqlite_backend.py
Due: ruff, ruff-format, mypy

Fix CI test failures and deprecation warnings
  pyproject.toml
  tests/cli/test_cli_integration.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/workers/test_lifecycle_mock.py
  uv.lock
Due: ruff, ruff-format

Fix Python 3.13 unclosed connection warnings and restore full Docker E2E tests
  .github/workflows/ci.yml
  src/clx/infrastructure/database/schema.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/backends/test_sqlite_backend.py
  tests/infrastructure/database/test_schema.py
  tests/infrastructure/workers/test_event_logger.py
Due: ruff, ruff-format, mypy

Fix remaining Python 3.13 unclosed database connection warnings
  src/clx/infrastructure/workers/discovery.py
  src/clx/infrastructure/workers/lifecycle_manager.py
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_base.py
  tests/e2e/test_e2e_course_conversion.py
  tests/e2e/test_e2e_lifecycle.py
Due: ruff, ruff-format, mypy

Add --image-mode CLI option for configurable image storage
  src/clx/cli/main.py
  src/clx/core/course.py
  src/clx/core/course_file.py
  src/clx/core/course_files/duplicated_image_file.py
  src/clx/core/operations/process_notebook.py
  tests/core/course_files/test_duplicated_image_file.py
  tests/core/course_files/test_shared_image_file.py
Due: ruff, ruff-format, mypy

Fix DuplicatedImageFile to handle generated images from DrawIO/PlantUML
  src/clx/core/course_files/duplicated_image_file.py
  tests/core/course_files/test_duplicated_image_file.py
Due: ruff, ruff-format, mypy

Add img-large to excluded directories
  src/clx/infrastructure/utils/path_utils.py
Due: ruff, ruff-format, mypy

Sort skipped dirs
  .vscode/settings.json
  src/clx/infrastructure/utils/path_utils.py
Due: ruff, ruff-format, mypy

Fix Docker build scripts and version management
  .bumpversion.cfg
  .github/workflows/ci.yml
  docker-compose.yaml
  push-services.sh
Due: none

Remove docker-compose files and add persistent workers design doc
  .bumpversion.cfg
  CONTRIBUTING.md
  docker-compose.legacy.yaml
  docker-compose.yaml
  docker/BUILDING.md
  docs/claude/design/persistent-docker-workers.md
  docs/developer-guide/README.md
  docs/developer-guide/architecture.md
  docs/user-guide/installation.md
Due: none

Remove non-functional persistent workers feature
  docs/developer-guide/worker-lifecycle-management.md
  src/clx/cli/main.py
  src/clx/infrastructure/workers/lifecycle_manager.py
  src/clx/infrastructure/workers/state_manager.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/workers/test_lifecycle_integration.py
  tests/infrastructure/workers/test_lifecycle_manager.py
  tests/infrastructure/workers/test_state_manager.py
Due: ruff, ruff-format, mypy

Bump version: 0.5.0 → 0.5.1
  .bumpversion.cfg
  CLAUDE.md
  README.md
  docker/BUILDING.md
  docs/developer-guide/architecture.md
  pyproject.toml
  src/clx/__version__.py
  src/clx/web/app.py
  tests/web/test_api_unit.py
  tests/web/test_app.py
  uv.lock
Due: ruff, ruff-format, mypy

Simplify Docker image tagging to use only Hub namespace
  build-services.sh
  docker/BUILDING.md
  docker/drawio/Dockerfile
  docker/notebook/Dockerfile
  docker/plantuml/Dockerfile
  push-services.sh
Due: none

Update Docker image versions to use :latest tag
  src/clx/infrastructure/config.py
  src/clx/infrastructure/workers/pool_manager.py
  tests/infrastructure/test_config.py
Due: ruff, ruff-format, mypy

Refactor CLI into modular commands and add docker build command
  build-services.ps1
  build-services.sh
  push-services.ps1
  push-services.sh
  src/clx/cli/commands/__init__.py
  src/clx/cli/commands/build.py
  src/clx/cli/commands/config.py
  src/clx/cli/commands/database.py
  src/clx/cli/commands/docker.py
  src/clx/cli/commands/monitoring.py
  src/clx/cli/commands/shared.py
  src/clx/cli/commands/status.py
  src/clx/cli/commands/workers.py
  src/clx/cli/main.py
Due: ruff, ruff-format, mypy

Fix docker build command path and CUDA image issues
  docker/notebook/Dockerfile
  src/clx/cli/commands/docker.py
Due: ruff, ruff-format, mypy

Improve CLI options and add docker pull command
  CLAUDE.md
  src/clx/cli/commands/build.py
  src/clx/cli/commands/docker.py
  tests/cli/test_cli_integration.py
  tests/cli/test_cli_subprocess.py
  tests/cli/test_cli_unit.py
  tests/infrastructure/workers/test_config_loader.py
Due: ruff, ruff-format, mypy

Add automatic database cleanup and retention management
  src/clx/cli/commands/database.py
  src/clx/cli/main.py
  src/clx/infrastructure/backends/sqlite_backend.py
  src/clx/infrastructure/config.py
  src/clx/infrastructure/database/db_operations.py
  src/clx/infrastructure/database/executed_notebook_cache.py
  src/clx/infrastructure/database/job_queue.py
Due: ruff, ruff-format, mypy

Fix ruff F541: Remove extraneous f-string prefix
  src/clx/cli/commands/database.py
Due: ruff, ruff-format, mypy

Apply ruff formatting
  src/clx/cli/commands/database.py
  src/clx/infrastructure/backends/sqlite_backend.py
Due: ruff, ruff-format, mypy

Fix build of docker image for full notebook processor
  .claude/settings.json
  docker/notebook/Dockerfile
  pyproject.toml
  uv.lock
Due: none

Add Docker source mount for workers and source directory for other_files
  docker/BUILDING.md
  docker/drawio/Dockerfile
  docker/notebook/Dockerfile
  docker/plantuml/Dockerfile
  docs/proposals/DOCKER_TEST_IMPROVEMENTS.md
  docs/proposals/PAYLOAD_ARCHITECTURE_ANALYSIS.md
  src/clx/cli/commands/build.py
  src/clx/cli/commands/docker.py
  src/clx/core/operations/process_notebook.py
  src/clx/infrastructure/messaging/notebook_classes.py
  src/clx/infrastructure/workers/config_loader.py
  src/clx/infrastructure/workers/lifecycle_manager.py
  src/clx/infrastructure/workers/pool_manager.py
  src/clx/infrastructure/workers/worker_base.py
  src/clx/infrastructure/workers/worker_executor.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/notebook/notebook_processor.py
  src/clx/workers/notebook/notebook_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
  tests/infrastructure/workers/test_path_conversion.py
  tests/workers/notebook/test_notebook_processor.py
  tests/workers/notebook/test_notebook_worker.py
Due: ruff, ruff-format, mypy

Improve test logging, diagnostics, and fix CI failures
  .github/workflows/ci.yml
  docs/proposals/DOCKER_TEST_IMPROVEMENTS.md
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
  tests/cli/test_cli_unit.py
  tests/conftest.py
  tests/e2e/test_e2e_course_conversion.py
  tests/fixtures/mock_workers.py
  tests/infrastructure/workers/test_docker_job_execution.py
Due: ruff, ruff-format, mypy

Fix Docker worker output path conversion for generated images
  src/clx/infrastructure/workers/worker_base.py
  src/clx/infrastructure/workers/worker_executor.py
  src/clx/workers/drawio/drawio_worker.py
  src/clx/workers/plantuml/plantuml_worker.py
  tests/e2e/test_e2e_lifecycle.py
  tests/infrastructure/workers/test_path_conversion.py
Due: ruff, ruff-format, mypy

Fix Docker buildx cache import errors for local builds
  src/clx/cli/commands/docker.py
Due: ruff, ruff-format, mypy

Switch Docker build caching to local directory-based approach
  .gitignore
  src/clx/cli/commands/docker.py
Due: ruff, ruff-format, mypy

Fix undefined Jinja2 variables in C++ template
  src/clx/workers/notebook/templates_cpp/macros.j2
Due: none

Remove deprecated --cache-stages flag from Docker build
  src/clx/cli/commands/docker.py
Due: ruff, ruff-format, mypy

Add .docker-cache/ to .dockerignore to fix build context size
  .dockerignore
Due: none

Path conditions:
  ruff: any of: ^(src|tests)/ and \.py$
  ruff-format: any of: ^(src|tests)/ and \.py$
  mypy: any of: ^src/clx/ and \.py$
